<f:link.action controller="Admin" action="actionList">Manage actions</f:link.action><br />
<f:link.action controller="Admin" action="objectList">Manage objects</f:link.action><br />
<f:link.action controller="Admin" action="domainList">Manage domains</f:link.action><br />
<f:link.action controller="Admin" action="extensionList">Manage extensions</f:link.action><br />
<f:link.action controller="Admin" action="roleList">Manage Roles</f:link.action><br />
<f:link.action controller="Admin" action="privilegeList">Manage privileges</f:link.action><br />
<f:link.action controller="Admin" action="userList">Manage Users</f:link.action><br /><br />
<f:link.action controller="Admin" action="setupRbac">Setup RBAC</f:link.action><br />
